@charset "utf-8";

body{position:relative;font-size:13px;line-height:1.6em;color:#595959;font-family:'Noto Sans KR','Siemreap',Helvetica,Arial,sans-serif;}

#wrapper{position:relative;min-width:1366px;}

/* header */
#header{position:relative;padding-right:30px;height:115px;background-color:#27428f;z-index:100;}
#header:before{position:absolute;left:0;top:0;display:block;width:100%;height:35px;content:'';background-color:#262c35;}
#header .logo{position:absolute;left:20px;top:55px;}
#header .logo a{display:inline-block;color:#bfc7de;}
#header .logo a:hover{text-decoration:none;}
#header .logo img{position:absolute;left:0;top:0;}
#header .logo .cont{display:block;padding:4px 0 0 45px;}
#header .logo .cont strong{display:block;font-family:'Siemreap';font-size:11px;line-height:12px;color:#bfc7de;font-weight:400;}
#header .logo .cont span{display:block;font-size:20px;line-height:22px;color:#bfc7de;font-weight:400;}
#header .top_box{position:absolute;right:30px;top:10px;z-index:11;}
#header .top_box > ul > li{position:relative;float:left;}
#header .top_box > ul > li > a,#header .top_box > ul > li > button{position:relative;display:block;padding:0 15px;font-size:12px;line-height:14px;color:#fff;font-weight:300;}
#header .top_box > ul > li > a:before,#header .top_box > ul > li > button:before{position:absolute;left:0;top:calc(50% - 5px);display:inline-block;width:1px;height:11px;content:'';background-color:#565b63;}
#header .top_box > ul > li .name,#header .top_box > ul > li .time{position:relative;display:block;padding:0 15px;font-size:12px;line-height:14px;color:#f6ff00;font-weight:300;}
#header .top_box > ul > li .name{padding:0;}
#header .top_box > ul > li .time:before{display:none;}
#header .top_box > ul > li .time:after{display:inline-block;width:13px;height:13px;margin-left:5px;content:'';vertical-align:-2px;background:url(../images/common/icon_time.png) center center no-repeat;}
#header .top_box .language_box{position:absolute;left:4px;top:20px;height:0;background-color:#fff;overflow:hidden;}
#header .top_box .language_box.active{height:inherit;}
#header .top_box .language_box ul{padding:5px 0;border:1px solid #64a3d9;}
#header .top_box .language_box a{position:relative;display:block;padding:5px 20px;font-size:11px;line-height:12px;color:#535a65;font-weight:300;}
#header .top_box .language_box a:before{position:absolute;left:10px;top:11px;display:inline-block;width:2px;height:2px;content:'';background-color:#535a65;}
#header .top_box .language_box a:hover,#header .top_box .language_box a:focus{color:#27428f;}

/* gnb */
#gnb_box{padding:35px 0 0 240px;}
#gnb li{float:left;height:80px;position:relative;line-height:72px;text-align:center;}
#gnb li a{display:inline-block;font-size:15px;line-height:18px;color:#fff;font-weight:300;vertical-align:middle;}
#gnb li a:before{position:absolute;left:0;top:0;display:block;width:100%;height:100%;content:'';}
#gnb li a:after{position:absolute;left:50%;bottom:0;display:block;width:0;height:4px;content:'';background-color:#f6ff00;opacity:0;transition:all ease-in-out 300ms;}
#gnb li a:hover,#gnb li a:focus,#gnb li a.on{color:#f6ff00;}
#gnb li a:hover:after,#gnb li a:focus:after,#gnb li a.on:after{left:20%;width:60%;opacity:1;}

#container{position:relative;padding-left:240px;z-index:15;transition:padding 400ms ease-in-out;}
.hide_menu #container{padding-left:0;}

/* lnb */
#lnb{position:absolute;left:0;top:0;width:238px;height:100%;box-sizing:border-box;z-index:11;transition:left 400ms ease-in-out;}
.hide_menu #lnb{left:-238px;}
#lnb:before{position:absolute;left:0;top:0;display:inline-block;width:240px;height:100%;content:'';border-right:2px solid #c6cbd8;background-color:#fff;box-sizing:border-box;transition:left 400ms ease-in-out;}
.hide_menu #lnb:before{left:-240px;}
#lnb .lnb_btn{position:absolute;right:-20px;top:0;display:inline-block;width:20px;height:40px;font-size:2px;line-height:2px;color:transparent;background-color:#c6cbd8;}
#lnb .lnb_btn:before{position:absolute;left:0;top:0;width:4px;height:100%;content:'';background-image:linear-gradient(to right, #afb4bf , #c6cbd8);}
#lnb .lnb_btn:after{position:absolute;left:calc(50% - 2px);top:calc(50% - 5px);display:inline-block;content:'';border-top:5px solid transparent;border-right:5px solid #27428f;border-bottom:5px solid transparent;background-color:#c6cbd8;}
/* .hide_menu #lnb .lnb_btn{position:fixed;left:0;top:115px;} */
.hide_menu #lnb .lnb_btn:after{border-left:5px solid #27428f;border-right:none;}
#lnb .lnb_title{height:107px;padding:0 20px;line-height:95px;border-bottom:1px solid #c6cbd8;background-color:#fff;}
#lnb .lnb_title strong{display:inline-block;font-size:25px;line-height:30px;color:#000;font-weight:400;vertical-align:middle;letter-spacing:-1px;}
.lnb_menu{position:relative;background-color:#eaecf1;}
.lnb_menu a{position:relative;display:block;box-sizing:border-box;}
.lnb_menu .dep1 > li > a{display:block;padding:20px 30px 20px 20px;font-size:14px;line-height:18px;color:#000;border-bottom:1px solid #c6cbd8;}
.lnb_menu .dep1 > li:first-child > a{margin-top:0;}
.lnb_menu .dep1 > li > a.on,.lnb_menu .dep1 > li > a.on2,.lnb_menu .dep1 > li > a:hover{color:#fff;border-bottom:1px solid #2668b4;background-color:#2668b4;}
.lnb_menu .dep1 > li > a.on:before,.lnb_menu .dep1 > li > a.on2:before,.lnb_menu .dep1 > li > a:hover:before{position:absolute;left:0;top:0;z-index:-1;display:block;width:100%;height:100%;content:'';background:url(../images/common/lnb_dep1_on.gif) repeat;}
.lnb_menu .dep1 > li > a.child_dep{background-image:url(../images/common/lnb_dep1_off.png);background-position:93% 26px;background-repeat:no-repeat;}
.lnb_menu .dep1 > li > a.child_dep.on,.lnb_menu .dep1 > li > a.child_dep:hover{background-image:url(../images/common/lnb_dep1_on.png);background-position:93% 26px;}
.lnb_menu .dep1 > li > a.child_dep.on2{color:#fff;background-color:#2668b4;background-image:url(../images/common/lnb_dep1_on.png);background-position:93% 26px;}
.lnb_menu .dep2{position:relative;height:0;overflow:hidden;background-color:#3e4551;}
.lnb_menu .dep2.dep2_on,.lnb_menu .dep2.current{height:inherit;}
.lnb_menu .dep2 > li > a{padding:11px 30px 12px 30px;font-size:13px;line-height:15px;color:#fff;}
.lnb_menu .dep2 > li > a:before{position:absolute;left:20px;top:18px;display:inline-block;width:2px;height:2px;content:'';background-color:#98a2b3;}
.lnb_menu .dep2 > li > a:hover{color:#f6ff00;background-color:#262c35;}
.lnb_menu .dep2 > li > a:hover:before,.lnb_menu .dep2 > li > a.child_dep.on:before{background-color:#f6ff00;}
.lnb_menu .dep2 > li > a.child_dep{background-image:url(../images/common/lnb_dep2_off.png);background-position:93% 14px;background-repeat:no-repeat;}
.lnb_menu .dep2 > li > a.child_dep.on,.lnb_menu .dep2 > li > a.child_dep.on2{color:#f6ff00 !important;background-image:url(../images/common/lnb_dep2_on.png);background-position:93% 18px;background-color:#262c35;}
.lnb_menu .dep2 > li > a.child_dep.on2:before,.lnb_menu .dep2 > li > a.on2:before{background-color:#f6ff00;}
.lnb_menu .dep2 > li > a.on2{color:#f6ff00 !important;}
.lnb_menu .dep3{height:0;overflow:hidden;}
.lnb_menu .dep3.dep3_on,.lnb_menu .dep3.current{height:inherit;padding:0 5px 0 30px;}
.lnb_menu .dep3 > li > a{padding:5px 8px;font-size:12px;line-height:14px;color:#959595;}
.lnb_menu .dep3 > li > a:before{position:absolute;left:0;top:11px;display:inline-block;width:2px;height:2px;content:'';border-radius:50%;background-color:#959595;overflow:hidden;}
.lnb_menu .dep3 > li > a:hover{color:#fff;}
.lnb_menu .dep3 > li > a:hover:before,.lnb_menu .dep3 > li > a.on2:before{background-color:#fff;}
.lnb_menu .dep3 > li > a.on2{color:#fff;}
.lnb_menu a.link:after{display:inline-block;width:20px;height:20px;margin-left:10px;content:'';vertical-align:middle;background-image:url(../images/common/link_dep1_off.png);background-position:center center;background-repeat:no-repeat;}
.lnb_menu a.link:hover:after{background-image:url(../images/common/link_dep1_on.png);}
.lnb_menu .dep2 > li > a:after{background-image:url(../images/common/link_dep2_off.png);}
.lnb_menu .dep2 > li > a:hover:after{background-image:url(../images/common/link_dep2_on.png);}
.lnb_menu .dep3 > li > a:after{background-image:url(../images/common/link_dep3_off.png);}
.lnb_menu .dep3 > li > a:hover:after{background-image:url(../images/common/link_dep3_on.png);}
.lnb_menu .current{height:inherit !important;}

/* footer */
#footer{position:relative;padding:0 30px 0 254px;background-color:#eaecf1;transition:padding 400ms ease-in-out;}
.hide_menu #footer{padding-left:0;}
#footer .footer_info{padding:20px 0;}
#footer .footer_info .copy{font-size:12px;line-height:14px;color:#535a65;text-align:center;font-weight:300;}